1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [9]:
import keras

In [10]:
from keras.models import Sequential
from keras.layers import Dense

In [11]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [12]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

# **Train and** **Test**

In [14]:
# build the model
model = regression_model()

In [15]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 4ms/step - loss: 86062.1328
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 57622.0820
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 39100.9062
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 27247.7227
Epoch 5/50
23/23 [==============================] - 0s 4ms/step - loss: 19651.8926
Epoch 6/50
23/23 [==============================] - 0s 3ms/step - loss: 14655.8809
Epoch 7/50
23/23 [==============================] - 0s 3ms/step - loss: 11198.5752
Epoch 8/50
23/23 [==============================] - 0s 3ms/step - loss: 8698.2930
Epoch 9/50
23/23 [==============================] - 0s 3ms/step - loss: 6841.9634
Epoch 10/50
23/23 [==============================] - 0s 3ms/step - loss: 5427.2681
Epoch 11/50
23/23 [==============================] - 0s 3ms/step - loss: 4338.3335
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 3491.8325
Epoch 13/50
23/23 [==============================] - 0s 3ms/step - loss: 2826.1355
Epoch 14/50
23/23 [==============================] - 0s 4ms/step - loss: 2304.9739
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 1888.2941
Epoch 16/50
23/23 [==============================] - 0s 3ms/step - loss: 1561.2021
Epoch 17/50
23/23 [==============================] - 0s 3ms/step - loss: 1296.8132
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 1087.4780
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 920.3398
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 784.4695
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 677.1625
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 590.4571
Epoch 23/50
23/23 [==============================] - 0s 4ms/step - loss: 521.1979
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 466.0375
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 421.4891
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 385.5549
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 357.4670
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 334.9407
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 316.8114
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 302.3485
Epoch 31/50
23/23 [==============================] - 0s 1ms/step - loss: 291.1488
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 282.1180
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 274.9961
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 269.7130
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 265.3665
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 261.9579
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 259.2397
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 257.1037
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 255.5623
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 254.2723
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 253.2565
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 252.5487
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 252.0694
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 251.4677
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 251.2124
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 250.8821
Epoch 47/50
23/23 [==============================] - 0s 1ms/step - loss: 250.6614
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 250.4709
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 250.3115
Epoch 50/50
23/23 [==============================] - 0s 1ms/step - loss: 250.1241

In [16]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 256.0145

256.01446533203125

In [17]:
from sklearn.metrics import mean_squared_error

In [18]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

256.01447351692 0.0

In [19]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 228.6245880126953
MSE 2: 220.07566833496094
MSE 3: 221.6781005859375
MSE 4: 236.01153564453125
MSE 5: 195.1457977294922
MSE 6: 121.83930969238281
MSE 7: 136.95843505859375
MSE 8: 96.63420104980469
MSE 9: 122.78038024902344
MSE 10: 110.73033905029297
MSE 11: 101.83826446533203
MSE 12: 100.17870330810547
MSE 13: 114.32939147949219
MSE 14: 115.64139556884766
MSE 15: 111.20857238769531
MSE 16: 106.88694763183594
MSE 17: 104.68855285644531
MSE 18: 98.2804183959961
MSE 19: 95.08992767333984
MSE 20: 114.00672912597656
MSE 21: 97.98560333251953
MSE 22: 102.13819885253906
MSE 23: 107.27495574951172
MSE 24: 103.55984497070312
MSE 25: 108.30455780029297
MSE 26: 99.3118667602539
MSE 27: 120.50392150878906
MSE 28: 109.79966735839844
MSE 29: 109.39095306396484
MSE 30: 113.20652770996094
MSE 31: 130.71327209472656
MSE 32: 105.73035430908203
MSE 33: 102.17462158203125
MSE 34: 109.58153533935547
MSE 35: 113.10839080810547
MSE 36: 125.16602325439453
MSE 37: 120.17870330810547
MSE 38: 114.76467895507812
MSE 39: 107.85812377929688
MSE 40: 114.47540283203125
MSE 41: 118.66014099121094
MSE 42: 110.64714813232422
MSE 43: 107.91456604003906
MSE 44: 105.85360717773438
MSE 45: 114.6527328491211
MSE 46: 114.59406280517578
MSE 47: 111.95326232910156
MSE 48: 113.98106384277344
MSE 49: 101.94857025146484
MSE 50: 110.26236724853516


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 121.56643899869327
Standard Deviation: 34.2213200780057