1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

In [1]:
import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors_norm.shape[1] # number of predictors

In [12]:
import keras

In [13]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [17]:
# build the model
model = regression_model()

In [18]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 1s - loss: 1569.8046 - 1s/epoch - 49ms/step
Epoch 2/50
23/23 - 0s - loss: 1557.1011 - 57ms/epoch - 2ms/step
Epoch 3/50
23/23 - 0s - loss: 1544.1862 - 53ms/epoch - 2ms/step
Epoch 4/50
23/23 - 0s - loss: 1530.8237 - 71ms/epoch - 3ms/step
Epoch 5/50
23/23 - 0s - loss: 1516.7191 - 59ms/epoch - 3ms/step
Epoch 6/50
23/23 - 0s - loss: 1501.4865 - 68ms/epoch - 3ms/step
Epoch 7/50
23/23 - 0s - loss: 1484.8722 - 58ms/epoch - 3ms/step
Epoch 8/50
23/23 - 0s - loss: 1467.3770 - 59ms/epoch - 3ms/step
Epoch 9/50
23/23 - 0s - loss: 1448.0331 - 48ms/epoch - 2ms/step
Epoch 10/50
23/23 - 0s - loss: 1427.0951 - 52ms/epoch - 2ms/step
Epoch 11/50
23/23 - 0s - loss: 1404.5146 - 43ms/epoch - 2ms/step
Epoch 12/50
23/23 - 0s - loss: 1379.7579 - 55ms/epoch - 2ms/step
Epoch 13/50
23/23 - 0s - loss: 1353.5630 - 64ms/epoch - 3ms/step
Epoch 14/50
23/23 - 0s - loss: 1325.3922 - 74ms/epoch - 3ms/step
Epoch 15/50
23/23 - 0s - loss: 1295.6305 - 71ms/epoch - 3ms/step
Epoch 16/50
23/23 - 0s - loss: 1263.8016 - 54ms/epoch - 2ms/step
Epoch 17/50
23/23 - 0s - loss: 1231.1637 - 51ms/epoch - 2ms/step
Epoch 18/50
23/23 - 0s - loss: 1197.2029 - 50ms/epoch - 2ms/step
Epoch 19/50
23/23 - 0s - loss: 1162.0020 - 51ms/epoch - 2ms/step
Epoch 20/50
23/23 - 0s - loss: 1125.9829 - 54ms/epoch - 2ms/step
Epoch 21/50
23/23 - 0s - loss: 1090.1006 - 68ms/epoch - 3ms/step
Epoch 22/50
23/23 - 0s - loss: 1052.7500 - 85ms/epoch - 4ms/step
Epoch 23/50
23/23 - 0s - loss: 1015.5353 - 76ms/epoch - 3ms/step
Epoch 24/50
23/23 - 0s - loss: 978.6361 - 86ms/epoch - 4ms/step
Epoch 25/50
23/23 - 0s - loss: 941.7164 - 63ms/epoch - 3ms/step
Epoch 26/50
23/23 - 0s - loss: 904.7499 - 59ms/epoch - 3ms/step
Epoch 27/50
23/23 - 0s - loss: 868.4860 - 57ms/epoch - 2ms/step
Epoch 28/50
23/23 - 0s - loss: 831.8243 - 45ms/epoch - 2ms/step
Epoch 29/50
23/23 - 0s - loss: 796.4280 - 34ms/epoch - 1ms/step
Epoch 30/50
23/23 - 0s - loss: 761.1333 - 36ms/epoch - 2ms/step
Epoch 31/50
23/23 - 0s - loss: 727.2457 - 33ms/epoch - 1ms/step
Epoch 32/50
23/23 - 0s - loss: 693.7068 - 35ms/epoch - 2ms/step
Epoch 33/50
23/23 - 0s - loss: 661.1690 - 31ms/epoch - 1ms/step
Epoch 34/50
23/23 - 0s - loss: 629.2384 - 40ms/epoch - 2ms/step
Epoch 35/50
23/23 - 0s - loss: 598.9116 - 38ms/epoch - 2ms/step
Epoch 36/50
23/23 - 0s - loss: 569.2817 - 39ms/epoch - 2ms/step
Epoch 37/50
23/23 - 0s - loss: 540.7540 - 33ms/epoch - 1ms/step
Epoch 38/50
23/23 - 0s - loss: 513.3769 - 33ms/epoch - 1ms/step
Epoch 39/50
23/23 - 0s - loss: 487.4543 - 44ms/epoch - 2ms/step
Epoch 40/50
23/23 - 0s - loss: 462.5048 - 42ms/epoch - 2ms/step
Epoch 41/50
23/23 - 0s - loss: 438.9858 - 34ms/epoch - 1ms/step
Epoch 42/50
23/23 - 0s - loss: 416.8286 - 33ms/epoch - 1ms/step
Epoch 43/50
23/23 - 0s - loss: 396.5010 - 34ms/epoch - 1ms/step
Epoch 44/50
23/23 - 0s - loss: 377.0887 - 35ms/epoch - 2ms/step
Epoch 45/50
23/23 - 0s - loss: 359.1234 - 33ms/epoch - 1ms/step
Epoch 46/50
23/23 - 0s - loss: 342.2791 - 45ms/epoch - 2ms/step
Epoch 47/50
23/23 - 0s - loss: 327.0747 - 39ms/epoch - 2ms/step
Epoch 48/50
23/23 - 0s - loss: 312.7258 - 38ms/epoch - 2ms/step
Epoch 49/50
23/23 - 0s - loss: 299.7703 - 35ms/epoch - 2ms/step
Epoch 50/50
23/23 - 0s - loss: 287.8531 - 39ms/epoch - 2ms/step

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 272.2521

272.25213623046875

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

272.25212427751785 0.0

In [22]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 104.99091339111328
MSE 2: 85.8331069946289
MSE 3: 55.3011360168457
MSE 4: 51.404693603515625
MSE 5: 51.70388412475586
MSE 6: 53.11371612548828
MSE 7: 51.588584899902344
MSE 8: 39.498023986816406
MSE 9: 43.32612609863281
MSE 10: 40.99821090698242
MSE 11: 41.378421783447266
MSE 12: 36.867794036865234
MSE 13: 46.66440200805664
MSE 14: 47.780338287353516
MSE 15: 37.01458740234375
MSE 16: 35.42927932739258
MSE 17: 39.598960876464844
MSE 18: 38.44981002807617
MSE 19: 38.66954040527344
MSE 20: 39.148353576660156
MSE 21: 35.9791145324707
MSE 22: 39.49220275878906
MSE 23: 31.992769241333008
MSE 24: 34.93339538574219
MSE 25: 35.29203796386719
MSE 26: 36.959312438964844
MSE 27: 32.57293701171875
MSE 28: 34.21094512939453
MSE 29: 39.095428466796875
MSE 30: 37.406578063964844
MSE 31: 33.84347915649414
MSE 32: 33.028194427490234
MSE 33: 36.08385467529297
MSE 34: 36.92464065551758
MSE 35: 34.79820251464844
MSE 36: 44.512046813964844
MSE 37: 31.50252914428711
MSE 38: 37.849979400634766
MSE 39: 37.814491271972656
MSE 40: 30.02342414855957
MSE 41: 38.111270904541016
MSE 42: 30.48536491394043
MSE 43: 35.393863677978516
MSE 44: 40.181541442871094
MSE 45: 38.0580940246582
MSE 46: 37.469383239746094
MSE 47: 35.00558853149414
MSE 48: 37.66909408569336
MSE 49: 37.626731872558594
MSE 50: 37.188541412353516


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 41.2052978053776
Standard Deviation: 12.62240801921094